@import '../../assets/scss/base.scss';
@import '../../assets/scss/helpers.scss';

.footer{
	position: relative;
	width: 100%;
	height: 200px;
	padding: 10px;
	background: $color-primary;	
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;


	&__logo{
		position: relative;

	}

	&__social{
		position: relative;
		
	}

}